---
back: true
pagination:
  data: productData
  size: 1
  alias: item
permalink: shop/{{ item.path }}.html
---

<div class="uk-padding">
  <div class="uk-flex uk-flex-wrap">
    <div>
      <h1>
        {{ item.title }}
      </h1>
      <p class="uk-heading-bullet">
        {{ item.description }}
      </p>
    </div>
    <div class="uk-margin-auto-left uk-text-center">
      <a class="uk-button uk-button-primary uk-text-large uk-border-rounded uk-box-shadow-medium">
        Purchese
        <hr class="uk-margin-remove" />
        {{ item.price }}
      </a>
    </div>
  </div>
  <img class="uk-align-center uk-border-rounded uk-box-shadow-medium" src="{{ item.imageSrc }}" alt="{{ item.imageCopy }}" />
  <p class="uk-text-center">
    <a href="{{ item.imageLink }}" target="_blank">
      {{ item.imageCopy }}
    </a>
  </p>
</div>