---
title: Foody Sweety
---

{% for item in collections.markdowns %}
<div class="bg-gray-900 max-w-screen-md rounded-xl mx-auto my-8 shadow-2xl sm:flex flex-wrap">
  <div class="flex-1">
    <img class="min-h-full w-full h-56 sm:h-72 md:h-96  object-cover rounded-t-xl sm:rounded-l-xl sm:rounded-tr-none" src="{{ item.data.imageSrc }}" alt="{{ item.data.imageCopy }}" />
  </div>
  <div class="flex-1 grid grid-cols-1">
    <h1 class="text-4xl p-4 sm:p-8">
      {{ item.data.title }}
    </h1>
    <p class="p-4 sm:p-8 leading-8">
      {{ item.data.excerpt }}
      <a href="{{ item.data.imageLink }}" target="_blank">
        {{ item.data.imageCopy }}
      </a>
    </p>
    <p class="text-xl text-right mt-auto">
      <!-- not proper sub path name -->
      <a class="transition duration-500 ease-in-out hover:bg-gray-50 hover:text-gray-900 px-6 py-4 rounded-br-xl inline-block font-bold" href="markdowns/{{ loop.index }}/index.html">
        <i class="fas fa-share"></i>
      </a>
    </p>
  </div>
</div>
{% endfor %}