<footer class="uk-section uk-section-large" uk-scrollspy="cls: uk-animation-fade; repeat: true">
  <div class="uk-container uk-text-center">
    <div class="uk-child-width-1-2@s uk-child-width-1-4@l" uk-grid="">
      <div>
        <h3>
          Source Used
        </h3>
        <ul class="uk-list">
          <li>
            <a href="https://getuikit.com/" target="_blank">
              UIkit
            </a>
          </li>
          <li>
            <a href="https://www.pexels.com/" target="_blank">
              Pexels
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>
          Made by
        </h3>
        <p>
          <a href="https://github.com/zummon/website-template" target="_blank">
            zummon
          </a>
        </p>
      </div>
      <div>
        <h3>
          List Title
        </h3>
        <ul class="uk-list">
          <li>
            <a href="#">
              Lorem, ipsum.
            </a>
          </li>
          <li>
            <a href="#">
              Lorem, ipsum.
            </a>
          </li>
          <li>
            <a href="#">
              Lorem, ipsum.
            </a>
          </li>
          <li>
            <a href="#">
              Lorem, ipsum.
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>
          Title
        </h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta autem odio consectetur commodi, doloremque dolores?
        </p>
      </div>
    </div>
    <p class="uk-margin-large-top">
      Copyright &copy; zummon
    </p>
  </div>
</footer>