<header class="uk-section uk-section-secondary" uk-scrollspy="target: > nav; cls: uk-animation-fade; repeat: true">
  <nav class="uk-container uk-text-center">
    {% if back %}
      <a class="uk-button uk-button-link uk-text-large uk-margin-bottom uk-margin-right" uk-icon="icon: reply; ratio: 2" 
        href="../index.html"></a>
    {% endif %}
    <a class="uk-button uk-button-link uk-text-large uk-margin-bottom uk-margin-right" uk-icon="icon: home; ratio: 2" 
      href="{{ '../' if back }}../index.html"></a>
    <a class="uk-button uk-button-link uk-text-large uk-margin-bottom uk-margin-right" 
      href="{{ '../' if back }}../index.html#about">
      About
    </a>
    <a class="uk-button uk-button-link uk-text-large uk-margin-bottom uk-margin-right" 
      href="{{ '../' if back }}../index.html#contact">
      Contact
    </a>
  </nav>
</header>