<div class="uk-section uk-section-secondary uk-light uk-background-cover uk-background-fixed uk-background-blend-soft-light uk-background-secondary" style="background-image: url(https://images.pexels.com/photos/5483826/pexels-photo-5483826.jpeg?auto=compress&cs=tinysrgb&w=1280)">
  <div class="uk-container uk-container-small">
    <nav uk-margin>
      <a class="uk-icon-button" uk-icon="reply" href="../learn.html"></a>
      <a class="uk-icon-button" uk-icon="home" href="../index.html"></a>
      <hr class="uk-hidden@s">
      <a class="uk-button uk-button-default" href="../blog.html">
        Blog
      </a>
      <a class="uk-button uk-button-default" href="../index.html#about">
        About
      </a>
    </nav>
  </div>
</div>

