<div class="uk-section uk-section-large uk-light uk-background-cover uk-background-fixed uk-background-blend-soft-light uk-background-secondary" style="background-image: url(https://images.pexels.com/photos/6102217/pexels-photo-6102217.jpeg?auto=compress&cs=tinysrgb&w=1280)">
  <div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-right">
      <div class="uk-width-2-3">
        <h1 class="uk-heading-medium">
          {{ root.title }}
        </h1>
        <p class="uk-h3 uk-margin-top">
          Lorem ipsum dolor sit amet consectetur.
          <a href="https://www.pexels.com/photo/wooden-reindeer-placed-in-greenery-composition-6102217/" target="_blank">
            Photo by Laura James from Pexels
          </a>
        </p>
        <nav uk-margin>
          <a class="uk-button uk-button-secondary uk-button-large" href="learn">
            Learn
          </a>
          <a class="uk-button uk-button-default uk-button-large" href="blog">
            Blog
          </a>
          <hr class="uk-hidden@s">
          <a class="uk-button uk-button-text uk-button-large" href="#about" uk-scroll>
            About
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>


