<div class="uk-section uk-light uk-background-cover uk-background-fixed uk-background-blend-soft-light uk-background-secondary" style="background-image: url(https://images.pexels.com/photos/6207392/pexels-photo-6207392.jpeg?auto=compress&cs=tinysrgb&w=1920)">
  <div class="uk-container uk-container-small">
    <blockquote class="uk-text-right">
      <footer>
        <a class="uk-link-muted" href="https://www.pexels.com/photo/assorted-pine-cones-and-dishware-on-table-during-christmas-holiday-6207392/" target="_blank">
          Photo by Mathias P.R. Reding from Pexels
        </a>
      </footer>
    </blockquote>
    <nav>
      {% include 'navParts.njk' %}
    </nav>
  </div>
</div>