<div class="uk-section uk-section-secondary uk-light uk-background-cover uk-background-fixed uk-background-blend-soft-light uk-background-secondary" style="background-image: url(https://images.pexels.com/photos/6207392/pexels-photo-6207392.jpeg?auto=compress&cs=tinysrgb&w=1280)">
  <div class="uk-container uk-container-small">
    <div class="uk-flex-middle uk-grid-divider" uk-grid>
      <nav class="uk-width-1-3@s" uk-margin>
        <a class="uk-icon-button" uk-icon="home" href="index.html"></a>
        <hr class="uk-hidden@xl">
        <a class="uk-button uk-button-default" href="blog.html">
          Blog
        </a>
        <a class="uk-button uk-button-default" href="index.html#about">
          About
        </a>
      </nav>
      <div class="uk-width-2-3@s">
        <h1 class="uk-heading-small">
          Learn
        </h1>
        <p class="uk-h4 uk-margin-top">
          Lorem ipsum dolor sit amet consectetur.
          <a href="https://www.pexels.com/photo/assorted-pine-cones-and-dishware-on-table-during-christmas-holiday-6207392/" target="_blank">
            Photo by Skylar Kang from Pexels
          </a>
        </p>
      </div>
    </div>
  </div>
</div>


