{% if back %}
  <a class="uk-icon-button uk-margin-bottom uk-margin-right" uk-icon="reply" 
    href="../{{ shell }}.html"></a>
{% endif %}
<a class="uk-icon-button uk-margin-bottom uk-margin-right" uk-icon="home" 
  href="{{ '../' if back }}index.html"></a>
<a class="uk-button uk-button-text uk-margin-bottom uk-margin-right" 
  href="{{ '../' if back }}index.html#about">
  About
</a>
<a class="uk-button uk-button-text uk-margin-bottom uk-margin-right" 
  href="{{ '../' if back }}index.html#donate">
  Donate
</a>
<hr />
<a class="uk-button uk-button-default uk-margin-bottom uk-margin-right" 
  href="{{ '../' if back }}learn.html">
  Learn
</a>
<a class="uk-button uk-button-default uk-margin-bottom uk-margin-right" 
  href="{{ '../' if back }}blog.html">
  Blog
</a>