---
copyImage: Photo by Ioana Motoc from Pexels
description: Quam at repellat odit quasi nostrum animi iure ab quis pariatur.
image: https://images.pexels.com/photos/4346320/pexels-photo-4346320.jpeg?auto=compress&cs=tinysrgb&w=640
sourceImage: https://www.pexels.com/photo/creative-eggs-in-nest-on-table-4346320/
title: Creative eggs in nest on table
---
<div class="uk-container uk-container-xsmall">
  <h1>
    {{ title }}
  </h1>
  <p class="uk-text-large">
    {{ description }}
  </p>
  <img src="{{ image }}" alt="{{ title }}">
  <p>
    <a href="{{ sourceImage }}" target="_blank">
      {{ copyImage }}
    </a>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam at repellat odit quasi nostrum animi iure ab quis pariatur voluptates, tenetur fugit voluptatum enim dolorum veritatis expedita! Iusto pariatur natus delectus saepe modi laborum unde ex a assumenda neque enim possimus, nulla repudiandae iste, iure rem soluta numquam aperiam 
    <a>
      necessitatibus
    </a>
    ?
  </p>
  <h4>
    List
  </h4>
  <ul class="uk-list uk-list-decimal">
    <li>
      List item 1
    </li>
    <li>
      List 
      <a>
        item 2
      </a>
    </li>
    <li>
      List item 3
    </li>
  </ul>
</div>