---
back: true
pagination:
  data: blogs
  size: 1
  alias: item
permalink: blog/{{ item.path | slug }}/index.html
eleventyComputed:
  title: "{{ item.title }} - Blog"
---

{% include 'header-small.njk' %}

<div class="uk-section uk-section-muted">
  <div class="uk-container uk-container-xsmall">
    <h1>
      {{ item.title }}
    </h1>
    <p class="uk-text-large">
      {{ item.description }}
    </p>
    {% for content in item.contents %}
      <p>
        {{ content }}
      </p>
    {% endfor %}
  </div>
</div>