---
title: Learn
---

<div class="uk-container">
  <div class="uk-grid-match uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>

    {% for learn in collections.learns %}
    <div>
      <div class="uk-card {{ 'uk-card-secondary' if loop.index === 1 else 'uk-card-default' }}">
        <div class="uk-card-media-top uk-height-medium uk-background-cover" style="background-image: url({{learn.data.image}})"></div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">
            {{ learn.data.title }}
          </h3>
          <p>
            {{ learn.data.description }}
            <a href="{{ learn.data.sourceImage }}" target="_blank">
              {{ learn.data.copyImage }}
            </a>
          </p>
          <a class="uk-button uk-button-secondary" href="{{ learn.url }}">
            Learn
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>