<header>
  <h2 class="uk-margin-top uk-text-muted uk-text-center">
    Antique Shop
  </h2>
  <ul class="uk-flex-center uk-tab">
    <li class="{{ 'uk-active' if url === '/' else '' }}">
      <a href="{{ '../' if back }}index.html">
        Home
      </a>
    </li>
    <li class="{{ 'uk-active' if url === '/about' else '' }}">
      <a href="{{ '../' if back }}about.html">
        About
      </a>
    </li>
    <!-- need fix startsWith -->
    <li class="{{ 'uk-active' if url === '/shop' else '' }}">
      <a href="{{ '../' if back }}shop.html">
        Shop
      </a>
    </li>
    <li class="{{ 'uk-active' if url === '/faq' else '' }}">
      <a href="{{ '../' if back }}faq.html">
        FAQ
      </a>
    </li>
  </ul>
</header>