<header>
  <h2 class="uk-margin-top uk-text-muted uk-text-center">
    Antique Shop
  </h2>
  <ul class="uk-flex-center uk-tab">
    <li class="{{ 'uk-active' if page.url === '/' else '' }}">
      <a href="{{ '../' if back }}index.html">
        Home
      </a>
    </li>
    <li class="{{ 'uk-active' if page.url === '/about.html' else '' }}">
      <a href="{{ '../' if back }}about.html">
        About
      </a>
    </li>
    <!-- need fix startsWith -->
    <li class="{{ 'uk-active' if page.url === '/product.html' else '' }}">
      <a href="{{ '../' if back }}product.html">
        Product
      </a>
    </li>
    <li class="{{ 'uk-active' if page.url === '/faq.html' else '' }}">
      <a href="{{ '../' if back }}faq.html">
        FAQ
      </a>
    </li>
  </ul>
</header>