<div class="uk-container uk-container-small uk-background-muted">
  <hr />
  <ul class="uk-flex-right uk-tab">
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="path/about">
        about
      </a>
    </li>
    <li>
      <a href="path/faq">
        faq
      </a>
    </li>
    <li>
      <a href="/shop">
        Shop
      </a>
    </li>
  </ul>
</div>