---
layout: layout.njk
permalink: /path/{{ slug }}.html
---

<div class="uk-container uk-container-small uk-background-muted">
  <div class="uk-column-1-2@s uk-column-divider uk-padding">
    {{ content | safe }}
  </div>
</div>