<a class="uk-display-block uk-inline-clip uk-transition-toggle uk-border-rounded uk-box-shadow-medium" tabindex="0" uk-tooltip="{{ item.price }}" href="{{ 'product/' + item.path }}.html">
  <img class="uk-transition-scale-up uk-transition-opaque" src="{{ item.imageSrc }}" alt="{{ item.imageCopy }}" />
</a>