---
back: true
layout: layout.njk
---

<div class="max-w-prose mx-auto">
  <p>
    <img class="w-full object-cover h-96" src="{{ imageSrc }}" alt="{{ imageCopy }}" />
  </p>
  <h1>{{ title }}</h1>
  <p>
    <b>Date</b> {{ date }}
  </p>
  <p>
    {{ excerpt }}
    <a href="{{ imageLink }}" target="_blank">
      {{ imageCopy }}
    </a>
  </p>
  <hr />
</div>
<div class="max-w-prose mx-auto">
  {{ content | safe }}
</div>