---
title: About
permalink: about.html
---

<div class="uk-column-1-2@m uk-column-divider uk-padding">
  <h1>
    {{ title }}
  </h1>
  <p>
    <a class="uk-icon-button uk-margin-small-right" uk-icon="facebook" href="#"></a>
    <a class="uk-icon-button uk-margin-small-right" uk-icon="instagram" href="#"></a>
    <a class="uk-icon-button uk-margin-small-right" uk-icon="pinterest" href="#"></a>
    <a class="uk-icon-button uk-margin-small-right" uk-icon="twitter" href="#"></a>
    <a class="uk-icon-button uk-margin-small-right" uk-icon="youtube" href="#"></a>
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, recusandae. Vitae voluptates, ad ipsam itaque qui, doloremque, recusandae possimus sunt exercitationem ullam harum temporibus nulla. Praesentium est quasi qui. Dolorum.
  </p> 
  <ul>
    <li>
      Dolorum.
    </li>
    <li>
      Praesentium est quasi qui.
    </li>
  </ul>
</div>
{% set start = 4 %}
{% set end = 8 %}
  {% include 'products.njk' %}
